*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 50px;
}

.container{
    padding: 50px;
    width: 500px;
    text-align: center;
    margin: auto;
    border: 5px double rgb(50, 198, 110);
    border-radius: 20px;
}

h1{
    color: rgb(251, 80, 80);
    margin-bottom: 50px;
    text-decoration: underline;
}

ul{
    font-size: larger;
    border: 1px solid rgb(255, 106, 76);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    list-style: none;
    text-align: start;
}